.calendar {
   min-height: 400px;
   border: 1px solid black;

   th {
      height: 40px;
      background-color: $bgTitleCalendar;
      color: $colorCalendar;
      line-height: 40px;
   }

   .link_month:hover {
      font-weight: 500;
   }

   tbody {
      background-color: $colorCalendar;
   }

   .days_calendar {
      text-align: center;
      font-weight: 400;

      td {
         height: 20px;
         line-height: 20px;
      }

      .day_calendar {
         background-color: $daysCalendar;
      }
   }

   td {
      position: relative;
      border: 1px solid black;
      padding: 10px;
      min-height: 50px;
      width: 80px;
   }

   .number_week {
      width: 10px;
      background-color: $bgWeeksCalendar;
      color: white;
      text-align: center;
   }

   .days_off {
      background-color: skyblue;
   }

   .week_end{
      background-color: rgb(235, 235, 235);
   }

   .list_events {
      cursor: pointer;
      width: 25px;
      height: 25px;
   }

   .choice_event {
      display: none;
      text-align: center;
      position: absolute;
      flex-direction: column;
      background-color: white;
      border: 1px solid $borderNav;
      z-index: 10;
      color: $colorTextNav;
      box-shadow: 0 2px 4px black;
      line-height: normal;

      a {
         padding: $spacing1;

         &:hover  {
            background-color: $borderNav;
            color: $colorTextNav;
         }
      }
   }

   .list_events:hover .choice_event {
      display: flex;
   }

   .active_today {
      background-color: $daysCalendar;
      border-radius: 50%;
      text-align: center;
      line-height: 25px;
      margin-top: -7px;
      margin-left: -5px;
   }

   .events {
      bottom: 10px;
      position: absolute;
      text-align: center;
      width: 100%;
      margin-left: -10px;
   }

   .holiday {
      margin-bottom: $spacing2;
   }

   .event_modified {
      display: none;
   }
}

@media #{$small} {
   .calendar {
      .event {
         display: none;
      }
   
      .event_modified {
         display: block;
      }
   }
}