.section_home_content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   .calendar {
      min-height: 600px;
   }
}

@media #{$medium} {
   .section_home_content {
      flex-direction: column;
      align-items: center;

      .table_calendar {
         margin-bottom: $spacing3;
      }

      .table_calendar {
         width: 100%;
      }

      .calendar  {
         width: 100%;
      }
   }
}

@media #{$navHeightModif} {
   .section_home_content {
      .calendar {
         min-height: calc(100vh - 140px);
      }
   }
}