.section_month {
   .calendar {
      width: 100%;
      height: calc(100vh - 100px);
   }
}

@media #{$navHeightModif} {
   .section_month {
      .calendar {
         height: calc(100vh - 140px);
      }
   }
}